<div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="row">
            <h1 class="header">Book an Appointment</h1>
            <h4>Our Investing Topics</h4>
        </div>
        <div class="row">
            <h3>Pick a topic, then we'll find a time and place</h3>
        </div>

        <div class="row btn-section" style="justify-content: flex-start;">
            <!-- ngRepeat: nameItem in nameList -->                
            <div ng-class="($ctrl.nameList.length === 1)?'col-sm-6 center-block nofloat':($ctrl.nameList.length > 5)? 'col-sm-6' : ([$index+1] %  2 !== 0)? 'col-sm-6 clear':' col-sm-6 clear'" ng-repeat="nameItem in $ctrl.nameList" ng-init="count = [$index + 1]">
                <span role="listitem">
                    <button class="button button-group enabled='matchHeight'" type="button" translate="{{'text' + count}}">{{nameItem.text}}
                    </button>
                </span>

            </div><!-- end ngRepeat: nameItem in nameList-->
        </div>
        <div class="link-parent">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <a role="button" ng-click="$ctrl.goBack();" class="link" href="javascript:void(0);">Return to previous screen</a>
        </div>
   </div>
</div>